.bingo-table {
    border: 1px solid black;
}

.bingo-row {
    border: 1px solid black;
    height: width / 5;
}

.bingo-cell {
    border: 1px solid black;
    width: 20%;
}

.bingo-cell-container {
    display: flex;
    padding: 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.bingo-text {
    margin: 0px;
}

.bingo-cell-container:before {
	content: "";
	float: left;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.bingo-highlight {
    background-color: green;
}

.bingo-highlight p {
    color: white;
}

.bingo-popup-container {
    width: "100%"
}

.bingo-popup-container a {
    text-decoration: underline;
}