html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.marked {
	background-color: green;
	color:white;
	border-color: black;
}
.pointText {
	font-size: 1.2vmin;
	white-space: pre-line;
	text-align: center;
	margin: 3px;
}
.unmarked {
	background-color: white;
	color: black;
}
p {
	white-space: pre-line;
}
span {
	white-space: pre-line;
}
#main{
	width: 100%; margin: 0px; text-align: center; height: 100%; max-width: 100%; box-sizing: border-box;
}
#header{
	width:100%;
	margin:0px;
	margin-bottom:20px;
	text-align:center;
	left:0;
	top:0;
	background-color:#6699ff;
	padding:15px;
	box-sizing:border-box;
}
#content{
	width:100%;
	margin:0px;
	text-align:center;
}
h1{
	font-size: 3vmin;
	margin: 0px;
}
/*body {
	margin: 0px;
}*/
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  /*padding-bottom: 6rem;*/
  height: 100%;
  min-height: 100%;
  /*font-family: Helvetica Neue, Arial, sans-serif;*/
}
#main {
  position: relative;
  margin: 0;
  /*padding-bottom: 100px;
  /*min-height: 100%;*/
  /*font-family: Helvetica Neue, Arial, sans-serif;*/
}
#header{
	color:white;
	font-family: Arial;
}
#footer{
	width:100%;
	text-align:center;
	background-color:#6699ff;
	padding: 1rem;
	bottom: 0;
	position:absolute;
	box-sizing:border-box;
}
.footerLink{
	margin:10px;
	font-size: 1.5vmin;
}
/*
html {
  height: 100%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
*/
#content{
	/*padding: 10px;*/
	padding-bottom: 100px;
}
.boardCell{
	width:13vmin;
	height:13vmin;
	min-width:13vmin;
	max-width:13vmin;
	min-height:13vmin;
	max-height:13vmin;
	border-style: solid;
	border-width: 0.3vmin;
}
.bingoBoard{
	margin: 0 auto;
}
.generateBoard{
	margin:20px;
	padding:15px;
	background-color:#6699ff;
	border-radius:15px;
	color:white;
	font-weight:bold;
}
@media(min-resolution: 1.5dppx){
	.pointText{
		font-size: 2vmin;
	}
}
